audience         = "<AUDIENCE>"
role_name        = "<ROLE_NAME>"
subject_patterns = []

policy_document = {
  Version = "2012-10-17"
  Statement = [
    {
      Effect = "Allow"
      Action = [
        "iam:GetRole",
      ]
      Resource = [
        "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
      ]
    },
  ]
}
